
body {
    margin: 0 auto; 
    background-color: aliceblue;

}


/* SignIn route */

#SignInButton{
    text-align: center;
}


/* Sök kurser */


#Kurs-holder{
    font-size: small;
    margin-left: auto; 
    margin-right: auto;
    justify-content: space-between;
    height: 80%; 
    width: 80%; 
}


/* Mina kurser */

#mycourse-table{
    box-shadow: 2px 3px 2px 3px #888888;
    margin-top: 20px; 
    background-color: white;
}

#form{
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    
}

#card-holder{
    display: flex; 
    flex-direction: row;
    margin-top: 20px; 
    justify-content: center;
}

#total{
    width: 200px; 
    height: fit-content;
    font-size: small;
}


/* My_profile */
.border{
    border: solid; 
    border-width: 0.5px;
    border-color: lightgray;
}

/* Startsida */
#background{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    height: 400px; 
    background-image: url("frontpage.png");
    background-size: 100% 100%;
    
}

#background button{
    margin-top: 20px; 
    color: white; 
    height: 50px; 
}

#input-field{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;

}

/* Chatt */

.body-chat-window{
    width: 100%;
    height: 90 vh;
    background-color: beige !important;
}

/* Chat-conversations */
.pl-0 {
    padding-left: 0 !important;
}

#chat-list-div{
    width: 200px;
    background-color: beige ;
    display: inline-block;
    /* margin: 0px;  */
    /* padding: 0px !important; */
}

.joinChatContainer{
    width: 100vw;
    height: 90vh;
    overflow-y: scroll;
    
}

.conversation{
    display: flex;
    text-align: center;

    /* padding: 10px; */
}

.chat-list-object{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    text-align: center;
    padding: 16px;
    margin: 0px;
    cursor: pointer;
    background-color: beige;
}

.chat-list-object:hover{
    background-color: rgb(234, 234, 213);
}

.portrait-conversation{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.conversationName {
    font-weight: 500;
}

.message-container{
    /* background-color: white;*/
    height: 90vh; 
}


/* Chat-message-window */
.chat-window{
    height: 90vh;
    background-color: white;
}

.chat-body{
    max-height: 70vh;
    height: 90vh;
    
}
.chat-window .message-dialog{
    background-color: white;
    border-radius: 20px;
    height: 80vh;
    width: 65vw;
    margin-bottom: 10px;
    

}

.messaage-row{
    padding: 30px;
    /* margin-bottom: ; */
}

#you .message-row{
    justify-content: end;
    padding-right: 70px;
}

#other .messaage-row{
    justify-content: start;
    padding-left: 70px;
}

.message-block{
    position: relative;
}

.portrait-message{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.message-text{
    padding: 10px;
    border-radius: 20px;
    display:block;
    max-width: 400px;
    width:auto;
    /* line-break:auto; */
    word-wrap:break-word;
    
}

#you .message-text{
    background-color: lightcyan
}

#other .message-text{
    background-color: rgb(242, 240, 240)
}

.time {
    font-size: small;
    margin-top: 10px;
}

.chat-input-row{
    max-height:10vh;
}



.chat-input{
    border-radius: 20px;
    
    height: 35px;
    border:none;
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 5px;
    
    display: block;
    /* margin-bottom: 20vh; */
    margin-left: 20px;
    margin-right: 5px;
    
}

.btn-chat{
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    margin-right: 20px;
    height: 35px;
    width: 5vw;
    background-color: dodgerblue;
    border:none;
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    font-size: large;

}


.btn:hover {
    background-color: RoyalBlue;
  }



/* End of chat css */
  
