
body {
    margin: 0 auto; 
    background-color: aliceblue;

}


/* SignIn route */

#SignInButton{
    text-align: center;
}


/* Sök kurser */


#Kurs-holder{
    font-size: small;
    margin-left: auto; 
    margin-right: auto;
    justify-content: space-between;
    height: 80%; 
    width: 80%; 
}


/* Mina kurser */

#mycourse-table{
    box-shadow: 2px 3px 2px 3px #888888;
    margin-top: 20px; 
    background-color: white;
}

#form{
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    
}

#card-holder{
    display: flex; 
    flex-direction: row;
    margin-top: 20px; 
    justify-content: center;
}

#total{
    width: 200px; 
    height: fit-content;
    font-size: small;
}


/* My_profile */
.border{
    border: solid; 
    border-width: 0.5px;
    border-color: lightgray;
}


  
