#mycourse-table{
    box-shadow: 2px 3px 2px 3px #888888;
    margin-top: 20px; 
    background-color: white;
}

#form{
    margin: 0 auto; 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#card-holder{
    display: flex; 
    flex-direction: column;
    margin-top: 20px; 
    width: 20%; 
    margin-left: 20px;
    justify-content: space-between;
    height: 100%;
}


#card-tableHolder{
    width: 70%; 
    margin-top: 20px;
    margin-right: 20px;

}

#total{
    width: 90%; 
    height: 100px;
    font-size: small;
}