/* Startsida */
#background{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    height: 400px; 
    background-image: url("../../static/frontpage.png");
    background-size: 100% 100%;
    
}

#background button{
    margin-top: 20px; 
    color: white; 
    height: 50px; 
}

#input-field{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;

}