.photo-form{
    width: 100px;
}

#myFile{
/* width: 10px;
margin-left: 50px; */
margin-bottom: 40px;
}


/* My_profile */
.border{
    border: solid; 
    border-width: 0.5px;
    border-color: lightgray;
}

.imgPreview{
    width: 100%; 
    height: 460px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.imgPreview input[type="file"]{
    display: none; 
}

.imgPreview .customFileUpload{
    color: #55d6d6;
    font-size: 22px;
    font-weight: 500;
    padding: 6px 12px; 
    cursor: pointer;

}